// base color
$blue:#2563eb;
$light-blue:#3b82f6;
$red:#C03639;
$pink: #E65D6E;
$green: #30B08F;
$tiffany: #4AB7BD;
$yellow:#FEC171;
$panGreen: #30B08F;

// 默认菜单主题风格
$base-menu-color: #cbd5e1;
$base-menu-color-active: #ffffff;
$base-menu-background: #111827;
$base-logo-title-color: #ffffff;

$base-menu-light-color:#56606f;
$base-menu-light-background:#ffffff;
$base-logo-light-title-color: #1f2329;

$base-sub-menu-background: #0f172a;
$base-sub-menu-hover: #1f2937;

$base-sidebar-width: 216px;

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuColor: $base-menu-color;
  menuLightColor: $base-menu-light-color;
  menuColorActive: $base-menu-color-active;
  menuBackground: $base-menu-background;
  menuLightBackground: $base-menu-light-background;
  subMenuBackground: $base-sub-menu-background;
  subMenuHover: $base-sub-menu-hover;
  sideBarWidth: $base-sidebar-width;
  logoTitleColor: $base-logo-title-color;
  logoLightTitleColor: $base-logo-light-title-color
}
