// base color
$blue:#1890ff;
$light-blue:#40a9ff;
$red:#C03639;
$pink: #E65D6E;
$green: #30B08F;
$tiffany: #4AB7BD;
$yellow:#FEC171;
$panGreen: #30B08F;

// 默认菜单主题风格
$base-menu-color: #4e5969;
$base-menu-color-active: #1890ff;
$base-menu-background: #ffffff;
$base-logo-title-color: #1f2329;

$base-menu-light-color:#4e5969;
$base-menu-light-background:#ffffff;
$base-logo-light-title-color: #1f2329;

$base-sub-menu-background: #ffffff;
$base-sub-menu-hover: #f5f5f5;

$base-sidebar-width: 250px;

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuColor: $base-menu-color;
  menuLightColor: $base-menu-light-color;
  menuColorActive: $base-menu-color-active;
  menuBackground: $base-menu-background;
  menuLightBackground: $base-menu-light-background;
  subMenuBackground: $base-sub-menu-background;
  subMenuHover: $base-sub-menu-hover;
  sideBarWidth: $base-sidebar-width;
  logoTitleColor: $base-logo-title-color;
  logoLightTitleColor: $base-logo-light-title-color
}
