<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.space.SpaceRoomMapper">

    <resultMap type="SpaceRoom" id="SpaceRoomResult">
        <id property="roomId" column="room_id" />
        <result property="roomCode" column="room_code" />
        <result property="roomName" column="room_name" />
        <result property="buildingId" column="building_id" />
        <result property="buildingName" column="building_name" />
        <result property="floorNo" column="floor_no" />
        <result property="typeId" column="type_id" />
        <result property="roomType" column="room_type" />
        <result property="area" column="area" />
        <result property="capacityMin" column="capacity_min" />
        <result property="capacityMax" column="capacity_max" />
        <result property="capacityDesc" column="capacity_desc" />
        <result property="assignedOrgId" column="assigned_org_id" />
        <result property="assignedOrgName" column="assigned_org_name" />
        <result property="equipmentDesc" column="equipment_desc" />
        <result property="locationDesc" column="location_desc" />
        <result property="bookable" column="bookable" />
        <result property="status" column="status" />
        <result property="delFlag" column="del_flag" />
        <result property="createBy" column="create_by" />
        <result property="createTime" column="create_time" />
        <result property="updateBy" column="update_by" />
        <result property="updateTime" column="update_time" />
        <result property="remark" column="remark" />
    </resultMap>

    <sql id="selectSpaceRoomVo">
        select sr.room_id,
               sr.room_code,
               sr.room_name,
               sr.building_id,
               sr.building_name,
               sr.floor_no,
               sr.type_id,
               coalesce(srt.type_name, sr.room_type) as room_type,
               sr.area,
               sr.capacity_min,
               sr.capacity_max,
               sr.capacity_desc,
               sr.assigned_org_id,
               sr.assigned_org_name,
               sr.equipment_desc,
               sr.location_desc,
               sr.bookable,
               sr.status,
               sr.del_flag,
               sr.create_by,
               sr.create_time,
               sr.update_by,
               sr.update_time,
               sr.remark
        from space_room sr
        left join space_room_type srt on srt.type_id = sr.type_id
    </sql>

    <select id="selectSpaceRoomById" parameterType="Long" resultMap="SpaceRoomResult">
        <include refid="selectSpaceRoomVo"/>
        where sr.room_id = #{roomId}
    </select>

    <select id="selectSpaceRoomByCode" parameterType="String" resultMap="SpaceRoomResult">
        <include refid="selectSpaceRoomVo"/>
        where sr.room_code = #{roomCode} and sr.del_flag = '0'
        limit 1
    </select>

    <select id="selectSpaceRoomByCodeAll" parameterType="String" resultMap="SpaceRoomResult">
        <include refid="selectSpaceRoomVo"/>
        where sr.room_code = #{roomCode}
        limit 1
    </select>

    <select id="selectSpaceRoomList" parameterType="SpaceRoom" resultMap="SpaceRoomResult">
        <include refid="selectSpaceRoomVo"/>
        <where>
            and sr.del_flag = '0'
            <if test="roomId != null"> and sr.room_id = #{roomId}</if>
            <if test="roomCode != null and roomCode != ''"> and sr.room_code like concat('%', #{roomCode}, '%')</if>
            <if test="roomName != null and roomName != ''"> and sr.room_name like concat('%', #{roomName}, '%')</if>
            <if test="buildingId != null"> and sr.building_id = #{buildingId}</if>
            <if test="buildingName != null and buildingName != ''"> and sr.building_name like concat('%', #{buildingName}, '%')</if>
            <if test="floorNo != null and floorNo != ''"> and sr.floor_no like concat('%', #{floorNo}, '%')</if>
            <if test="typeId != null"> and sr.type_id = #{typeId}</if>
            <if test="roomType != null and roomType != ''"> and coalesce(srt.type_name, sr.room_type) like concat('%', #{roomType}, '%')</if>
            <if test="area != null"> and sr.area = #{area}</if>
            <if test="capacityMin != null"> and sr.capacity_min = #{capacityMin}</if>
            <if test="capacityMax != null"> and sr.capacity_max = #{capacityMax}</if>
            <if test="capacityDesc != null and capacityDesc != ''"> and sr.capacity_desc like concat('%', #{capacityDesc}, '%')</if>
            <if test="assignedOrgId != null"> and sr.assigned_org_id = #{assignedOrgId}</if>
            <if test="assignedOrgName != null and assignedOrgName != ''"> and sr.assigned_org_name like concat('%', #{assignedOrgName}, '%')</if>
            <if test="equipmentDesc != null and equipmentDesc != ''"> and sr.equipment_desc like concat('%', #{equipmentDesc}, '%')</if>
            <if test="locationDesc != null and locationDesc != ''"> and sr.location_desc like concat('%', #{locationDesc}, '%')</if>
            <if test="bookable != null and bookable != ''"> and sr.bookable = #{bookable}</if>
            <if test="status != null and status != ''"> and sr.status = #{status}</if>
            <if test="approvedReservationOnly != null and approvedReservationOnly">
                and exists (
                    select 1
                    from space_reservation_item sri
                    inner join space_reservation res on res.reservation_id = sri.reservation_id
                    where sri.room_id = sr.room_id
                      and sri.item_status = '2'
                      and res.del_flag = '0'
                )
            </if>
        </where>
        order by sr.room_id desc
    </select>

    <select id="selectDeletedSpaceRoomList" parameterType="SpaceRoom" resultMap="SpaceRoomResult">
        <include refid="selectSpaceRoomVo"/>
        <where>
            and sr.del_flag = '2'
            <if test="roomId != null"> and sr.room_id = #{roomId}</if>
            <if test="roomCode != null and roomCode != ''"> and sr.room_code like concat('%', #{roomCode}, '%')</if>
            <if test="roomName != null and roomName != ''"> and sr.room_name like concat('%', #{roomName}, '%')</if>
            <if test="buildingId != null"> and sr.building_id = #{buildingId}</if>
            <if test="buildingName != null and buildingName != ''"> and sr.building_name like concat('%', #{buildingName}, '%')</if>
            <if test="floorNo != null and floorNo != ''"> and sr.floor_no like concat('%', #{floorNo}, '%')</if>
            <if test="typeId != null"> and sr.type_id = #{typeId}</if>
            <if test="roomType != null and roomType != ''"> and coalesce(srt.type_name, sr.room_type) like concat('%', #{roomType}, '%')</if>
            <if test="assignedOrgName != null and assignedOrgName != ''"> and sr.assigned_org_name like concat('%', #{assignedOrgName}, '%')</if>
        </where>
        order by sr.update_time desc, sr.room_id desc
    </select>

    <insert id="insertSpaceRoom" parameterType="SpaceRoom" useGeneratedKeys="true" keyProperty="roomId">
        insert into space_room
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="roomId != null"> room_id,</if>
            <if test="roomCode != null"> room_code,</if>
            <if test="roomName != null"> room_name,</if>
            <if test="buildingId != null"> building_id,</if>
            <if test="buildingName != null"> building_name,</if>
            <if test="floorNo != null"> floor_no,</if>
            <if test="typeId != null"> type_id,</if>
            <if test="roomType != null"> room_type,</if>
            <if test="area != null"> area,</if>
            <if test="capacityMin != null"> capacity_min,</if>
            <if test="capacityMax != null"> capacity_max,</if>
            <if test="capacityDesc != null"> capacity_desc,</if>
            <if test="assignedOrgId != null"> assigned_org_id,</if>
            <if test="assignedOrgName != null"> assigned_org_name,</if>
            <if test="equipmentDesc != null"> equipment_desc,</if>
            <if test="locationDesc != null"> location_desc,</if>
            <if test="bookable != null"> bookable,</if>
            <if test="status != null"> status,</if>
            <if test="delFlag != null"> del_flag,</if>
            <if test="createBy != null"> create_by,</if>
            create_time,
            <if test="updateBy != null"> update_by,</if>
            <if test="remark != null"> remark,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="roomId != null"> #{roomId},</if>
            <if test="roomCode != null"> #{roomCode},</if>
            <if test="roomName != null"> #{roomName},</if>
            <if test="buildingId != null"> #{buildingId},</if>
            <if test="buildingName != null"> #{buildingName},</if>
            <if test="floorNo != null"> #{floorNo},</if>
            <if test="typeId != null"> #{typeId},</if>
            <if test="roomType != null"> #{roomType},</if>
            <if test="area != null"> #{area},</if>
            <if test="capacityMin != null"> #{capacityMin},</if>
            <if test="capacityMax != null"> #{capacityMax},</if>
            <if test="capacityDesc != null"> #{capacityDesc},</if>
            <if test="assignedOrgId != null"> #{assignedOrgId},</if>
            <if test="assignedOrgName != null"> #{assignedOrgName},</if>
            <if test="equipmentDesc != null"> #{equipmentDesc},</if>
            <if test="locationDesc != null"> #{locationDesc},</if>
            <if test="bookable != null"> #{bookable},</if>
            <if test="status != null"> #{status},</if>
            <if test="delFlag != null"> #{delFlag},</if>
            <if test="createBy != null"> #{createBy},</if>
            sysdate(),
            <if test="updateBy != null"> #{updateBy},</if>
            <if test="remark != null"> #{remark},</if>
        </trim>
    </insert>

    <update id="updateSpaceRoom" parameterType="SpaceRoom">
        update space_room
        <set>
            <if test="roomCode != null"> room_code = #{roomCode},</if>
            <if test="roomName != null"> room_name = #{roomName},</if>
            <if test="buildingId != null"> building_id = #{buildingId},</if>
            <if test="buildingName != null"> building_name = #{buildingName},</if>
            <if test="floorNo != null"> floor_no = #{floorNo},</if>
            <if test="typeId != null"> type_id = #{typeId},</if>
            <if test="roomType != null"> room_type = #{roomType},</if>
            <if test="area != null"> area = #{area},</if>
            <if test="capacityMin != null"> capacity_min = #{capacityMin},</if>
            <if test="capacityMax != null"> capacity_max = #{capacityMax},</if>
            <if test="capacityDesc != null"> capacity_desc = #{capacityDesc},</if>
            <if test="assignedOrgId != null"> assigned_org_id = #{assignedOrgId},</if>
            <if test="assignedOrgName != null"> assigned_org_name = #{assignedOrgName},</if>
            <if test="equipmentDesc != null"> equipment_desc = #{equipmentDesc},</if>
            <if test="locationDesc != null"> location_desc = #{locationDesc},</if>
            <if test="bookable != null"> bookable = #{bookable},</if>
            <if test="status != null"> status = #{status},</if>
            <if test="delFlag != null"> del_flag = #{delFlag},</if>
            <if test="remark != null"> remark = #{remark},</if>
            <if test="updateBy != null"> update_by = #{updateBy},</if>
            update_time = sysdate()
        </set>
        where room_id = #{roomId}
    </update>

    <delete id="deleteSpaceRoomById" parameterType="Long">
        update space_room set del_flag = '2', update_time = sysdate() where room_id = #{roomId}
    </delete>

    <delete id="deleteSpaceRoomByIds" parameterType="Long">
        update space_room set del_flag = '2', update_time = sysdate() where room_id in
        <foreach collection="array" item="roomId" open="(" separator="," close=")">
            #{roomId}
        </foreach>
    </delete>

    <update id="restoreSpaceRoomByIds" parameterType="Long">
        update space_room set del_flag = '0', update_time = sysdate() where room_id in
        <foreach collection="array" item="roomId" open="(" separator="," close=")">
            #{roomId}
        </foreach>
    </update>

    <delete id="forceDeleteSpaceRoomByIds" parameterType="Long">
        delete from space_room where room_id in
        <foreach collection="array" item="roomId" open="(" separator="," close=")">
            #{roomId}
        </foreach>
    </delete>

    <select id="countSpaceRoomByTypeIds" resultType="int">
        select count(1) from space_room where type_id in
        <foreach collection="typeIds" item="typeId" open="(" separator="," close=")">
            #{typeId}
        </foreach>
    </select>

    <update id="updateRoomTypeByTypeId">
        update space_room
        set room_type = #{roomType}, update_time = sysdate()
        where type_id = #{typeId}
    </update>

</mapper>
