<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.space.SpaceReservationItemMapper">

    <resultMap type="SpaceReservationItem" id="SpaceReservationItemResult">
        <id property="itemId" column="item_id" />
        <result property="reservationId" column="reservation_id" />
        <result property="roomId" column="room_id" />
        <result property="roomCode" column="room_code" />
        <result property="roomName" column="room_name" />
        <result property="bookingDate" column="booking_date" />
        <result property="weekday" column="weekday" />
        <result property="startTime" column="start_time" />
        <result property="endTime" column="end_time" />
        <result property="itemStatus" column="item_status" />
        <result property="conflictFlag" column="conflict_flag" />
        <result property="conflictReason" column="conflict_reason" />
        <result property="conflictItemId" column="conflict_item_id" />
        <result property="auditTime" column="audit_time" />
        <result property="auditorId" column="auditor_id" />
        <result property="auditorName" column="auditor_name" />
        <result property="rejectReason" column="reject_reason" />
        <result property="reservationNo" column="reservation_no" />
        <result property="reservationType" column="reservation_type" />
        <result property="title" column="title" />
        <result property="peopleCount" column="people_count" />
        <result property="applicantName" column="applicant_name" />
        <result property="orgName" column="org_name" />
        <result property="reservationStatus" column="reservation_status" />
        <result property="auditType" column="audit_type" />
        <result property="createBy" column="create_by" />
        <result property="createTime" column="create_time" />
        <result property="updateBy" column="update_by" />
        <result property="updateTime" column="update_time" />
        <result property="remark" column="remark" />
    </resultMap>

    <sql id="selectSpaceReservationItemVo">
        select sri.item_id, sri.reservation_id, sri.room_id, sri.room_code, sri.room_name, sri.booking_date, sri.weekday,
               sri.start_time, sri.end_time, sri.item_status, sri.conflict_flag, sri.conflict_reason, sri.conflict_item_id,
               sri.audit_time, sri.auditor_id, sri.auditor_name, sri.reject_reason, sri.create_by, sri.create_time,
               sri.update_by, sri.update_time, sri.remark,
               sr.reservation_no, sr.reservation_type, sr.title, sr.people_count, sr.applicant_name, sr.org_name,
               sr.status as reservation_status, sr.audit_type
        from space_reservation_item sri
        left join space_reservation sr on sr.reservation_id = sri.reservation_id
    </sql>

    <select id="selectSpaceReservationItemById" parameterType="Long" resultMap="SpaceReservationItemResult">
        <include refid="selectSpaceReservationItemVo"/>
        where sri.item_id = #{itemId}
    </select>

    <select id="selectSpaceReservationItemList" parameterType="SpaceReservationItem" resultMap="SpaceReservationItemResult">
        <include refid="selectSpaceReservationItemVo"/>
        <where>
            <if test="itemId != null"> and sri.item_id = #{itemId}</if>
            <if test="reservationId != null"> and sri.reservation_id = #{reservationId}</if>
            <if test="roomId != null"> and sri.room_id = #{roomId}</if>
            <if test="roomCode != null and roomCode != ''"> and sri.room_code like concat('%', #{roomCode}, '%')</if>
            <if test="roomName != null and roomName != ''"> and sri.room_name like concat('%', #{roomName}, '%')</if>
            <if test="bookingDate != null and bookingDate != ''"> and sri.booking_date like concat('%', #{bookingDate}, '%')</if>
            <if test="bookingDateStart != null and bookingDateStart != ''"> and sri.booking_date &gt;= #{bookingDateStart}</if>
            <if test="bookingDateEnd != null and bookingDateEnd != ''"> and sri.booking_date &lt;= #{bookingDateEnd}</if>
            <if test="weekday != null and weekday != ''"> and sri.weekday like concat('%', #{weekday}, '%')</if>
            <if test="startTime != null and startTime != ''"> and sri.start_time like concat('%', #{startTime}, '%')</if>
            <if test="endTime != null and endTime != ''"> and sri.end_time like concat('%', #{endTime}, '%')</if>
            <if test="periodStartTime != null and periodStartTime != '' and periodEndTime != null and periodEndTime != ''">
                and sri.start_time &lt; #{periodEndTime}
                and sri.end_time &gt; #{periodStartTime}
            </if>
            <choose>
                <when test="occupiedOnly != null and occupiedOnly">
                    and sri.item_status in ('1', '2')
                </when>
                <otherwise>
                    <if test="itemStatus != null and itemStatus != ''"> and sri.item_status = #{itemStatus}</if>
                </otherwise>
            </choose>
            <if test="conflictFlag != null and conflictFlag != ''"> and sri.conflict_flag = #{conflictFlag}</if>
            <if test="conflictReason != null and conflictReason != ''"> and sri.conflict_reason like concat('%', #{conflictReason}, '%')</if>
            <if test="conflictItemId != null"> and sri.conflict_item_id = #{conflictItemId}</if>
            <if test="auditTime != null"> and sri.audit_time = #{auditTime}</if>
            <if test="auditorId != null"> and sri.auditor_id = #{auditorId}</if>
            <if test="auditorName != null and auditorName != ''"> and sri.auditor_name like concat('%', #{auditorName}, '%')</if>
            <if test="rejectReason != null and rejectReason != ''"> and sri.reject_reason like concat('%', #{rejectReason}, '%')</if>

            <if test="reservationNo != null and reservationNo != ''"> and sr.reservation_no like concat('%', #{reservationNo}, '%')</if>

            <if test="title != null and title != ''"> and sr.title like concat('%', #{title}, '%')</if>

            <if test="applicantName != null and applicantName != ''"> and sr.applicant_name like concat('%', #{applicantName}, '%')</if>
        </where>
        order by sri.item_id desc
    </select>

    <insert id="insertSpaceReservationItem" parameterType="SpaceReservationItem" useGeneratedKeys="true" keyProperty="itemId">
        insert into space_reservation_item
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="itemId != null"> item_id,</if>
            <if test="reservationId != null"> reservation_id,</if>
            <if test="roomId != null"> room_id,</if>
            <if test="roomCode != null"> room_code,</if>
            <if test="roomName != null"> room_name,</if>
            <if test="bookingDate != null"> booking_date,</if>
            <if test="weekday != null"> weekday,</if>
            <if test="startTime != null"> start_time,</if>
            <if test="endTime != null"> end_time,</if>
            <if test="itemStatus != null"> item_status,</if>
            <if test="conflictFlag != null"> conflict_flag,</if>
            <if test="conflictReason != null"> conflict_reason,</if>
            <if test="conflictItemId != null"> conflict_item_id,</if>
            <if test="auditTime != null"> audit_time,</if>
            <if test="auditorId != null"> auditor_id,</if>
            <if test="auditorName != null"> auditor_name,</if>
            <if test="rejectReason != null"> reject_reason,</if>
            <if test="createBy != null"> create_by,</if>
            create_time,
            <if test="updateBy != null"> update_by,</if>
            <if test="remark != null"> remark,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="itemId != null"> #{itemId},</if>
            <if test="reservationId != null"> #{reservationId},</if>
            <if test="roomId != null"> #{roomId},</if>
            <if test="roomCode != null"> #{roomCode},</if>
            <if test="roomName != null"> #{roomName},</if>
            <if test="bookingDate != null"> #{bookingDate},</if>
            <if test="weekday != null"> #{weekday},</if>
            <if test="startTime != null"> #{startTime},</if>
            <if test="endTime != null"> #{endTime},</if>
            <if test="itemStatus != null"> #{itemStatus},</if>
            <if test="conflictFlag != null"> #{conflictFlag},</if>
            <if test="conflictReason != null"> #{conflictReason},</if>
            <if test="conflictItemId != null"> #{conflictItemId},</if>
            <if test="auditTime != null"> #{auditTime},</if>
            <if test="auditorId != null"> #{auditorId},</if>
            <if test="auditorName != null"> #{auditorName},</if>
            <if test="rejectReason != null"> #{rejectReason},</if>
            <if test="createBy != null"> #{createBy},</if>
            sysdate(),
            <if test="updateBy != null"> #{updateBy},</if>
            <if test="remark != null"> #{remark},</if>
        </trim>
    </insert>

    <update id="updateSpaceReservationItem" parameterType="SpaceReservationItem">
        update space_reservation_item
        <set>
            <if test="reservationId != null"> reservation_id = #{reservationId},</if>
            <if test="roomId != null"> room_id = #{roomId},</if>
            <if test="roomCode != null"> room_code = #{roomCode},</if>
            <if test="roomName != null"> room_name = #{roomName},</if>
            <if test="bookingDate != null"> booking_date = #{bookingDate},</if>
            <if test="weekday != null"> weekday = #{weekday},</if>
            <if test="startTime != null"> start_time = #{startTime},</if>
            <if test="endTime != null"> end_time = #{endTime},</if>
            <if test="itemStatus != null"> item_status = #{itemStatus},</if>
            <if test="conflictFlag != null"> conflict_flag = #{conflictFlag},</if>
            <if test="conflictReason != null"> conflict_reason = #{conflictReason},</if>
            <if test="conflictItemId != null"> conflict_item_id = #{conflictItemId},</if>
            <if test="auditTime != null"> audit_time = #{auditTime},</if>
            <if test="auditorId != null"> auditor_id = #{auditorId},</if>
            <if test="auditorName != null"> auditor_name = #{auditorName},</if>
            <if test="rejectReason != null"> reject_reason = #{rejectReason},</if>
            <if test="remark != null"> remark = #{remark},</if>
            <if test="updateBy != null"> update_by = #{updateBy},</if>
            update_time = sysdate()
        </set>
        where item_id = #{itemId}
    </update>

    <delete id="deleteSpaceReservationItemById" parameterType="Long">
        delete from space_reservation_item where item_id = #{itemId}
    </delete>

    <delete id="deleteSpaceReservationItemByIds" parameterType="Long">
        delete from space_reservation_item where item_id in
        <foreach collection="array" item="itemId" open="(" separator="," close=")">
            #{itemId}
        </foreach>
    </delete>

    <select id="selectConflictItems" parameterType="SpaceReservationItem" resultMap="SpaceReservationItemResult">
        <include refid="selectSpaceReservationItemVo"/>
        where sri.room_id = #{roomId}
          and sri.booking_date = #{bookingDate}
          and sri.item_status in ('1', '2')
          and sri.start_time &lt; #{endTime}
          and sri.end_time &gt; #{startTime}
          <if test="itemId != null"> and sri.item_id &lt;&gt; #{itemId}</if>
    </select>

    <select id="selectBlockingRoomReservationItems" resultMap="SpaceReservationItemResult">

        <include refid="selectSpaceReservationItemVo"/>

        where sri.room_id in

        <foreach collection="roomIds" item="roomId" open="(" separator="," close=")">

            #{roomId}

        </foreach>
          and sri.item_status in ('1', '2', '4')
          and str_to_date(
                concat(
                    sri.booking_date,
                    ' ',
                    case
                        when char_length(sri.end_time) = 4 then concat('0', sri.end_time, ':00')
                        when char_length(sri.end_time) = 5 then concat(sri.end_time, ':00')
                        when char_length(sri.end_time) = 7 then concat('0', sri.end_time)
                        else sri.end_time
                    end
                ),
                '%Y-%m-%d %H:%i:%s'
              ) &gt; sysdate()
        order by sri.booking_date asc, sri.start_time asc, sri.item_id asc

    </select>



    <select id="selectReservationIdsToFinish" resultType="Long">

        select distinct sri.reservation_id
        from space_reservation_item sri
        inner join space_reservation sr on sr.reservation_id = sri.reservation_id
        where sri.item_status = '2'
          and sr.status in ('2', '3')
          and str_to_date(
                concat(
                    sri.booking_date,
                    ' ',
                    case
                        when char_length(sri.end_time) = 4 then concat('0', sri.end_time, ':00')
                        when char_length(sri.end_time) = 5 then concat(sri.end_time, ':00')
                        when char_length(sri.end_time) = 7 then concat('0', sri.end_time)
                        else sri.end_time
                    end
                ),
                '%Y-%m-%d %H:%i:%s'
              ) &lt;= sysdate()

    </select>



    <update id="updateFinishedItems">

        update space_reservation_item sri
        inner join space_reservation sr on sr.reservation_id = sri.reservation_id
        set sri.item_status = '6',
            sri.conflict_flag = '0',
            sri.conflict_reason = '',
            sri.update_by = 'system',
            sri.update_time = sysdate()
        where sri.item_status = '2'
          and sr.status in ('2', '3')
          and sri.reservation_id in
          <foreach collection="reservationIds" item="reservationId" open="(" separator="," close=")">
              #{reservationId}
          </foreach>
          and str_to_date(
                concat(
                    sri.booking_date,
                    ' ',
                    case
                        when char_length(sri.end_time) = 4 then concat('0', sri.end_time, ':00')
                        when char_length(sri.end_time) = 5 then concat(sri.end_time, ':00')
                        when char_length(sri.end_time) = 7 then concat('0', sri.end_time)
                        else sri.end_time
                    end
                ),
                '%Y-%m-%d %H:%i:%s'
              ) &lt;= sysdate()

    </update>



    <update id="updateItemStatus" parameterType="SpaceReservationItem">
        update space_reservation_item
        set item_status = #{itemStatus},
            conflict_flag = #{conflictFlag},
            conflict_reason = #{conflictReason},
            audit_time = sysdate(),
            auditor_id = #{auditorId},
            auditor_name = #{auditorName},
            reject_reason = #{rejectReason},
            update_by = #{updateBy},
            update_time = sysdate()
        where item_id = #{itemId}
    </update>

</mapper>
