<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.space.SpaceReservationItemMapper">

    <resultMap type="SpaceReservationItem" id="SpaceReservationItemResult">
        <id property="itemId" column="item_id" />
        <result property="reservationId" column="reservation_id" />
        <result property="roomId" column="room_id" />
        <result property="roomCode" column="room_code" />
        <result property="roomName" column="room_name" />
        <result property="bookingDate" column="booking_date" />
        <result property="weekday" column="weekday" />
        <result property="startTime" column="start_time" />
        <result property="endTime" column="end_time" />
        <result property="itemStatus" column="item_status" />
        <result property="conflictFlag" column="conflict_flag" />
        <result property="conflictReason" column="conflict_reason" />
        <result property="conflictItemId" column="conflict_item_id" />
        <result property="auditTime" column="audit_time" />
        <result property="auditorId" column="auditor_id" />
        <result property="auditorName" column="auditor_name" />
        <result property="rejectReason" column="reject_reason" />
        <result property="createBy" column="create_by" />
        <result property="createTime" column="create_time" />
        <result property="updateBy" column="update_by" />
        <result property="updateTime" column="update_time" />
        <result property="remark" column="remark" />
    </resultMap>

    <sql id="selectSpaceReservationItemVo">
        select item_id, reservation_id, room_id, room_code, room_name, booking_date, weekday, start_time, end_time, item_status, conflict_flag, conflict_reason, conflict_item_id, audit_time, auditor_id, auditor_name, reject_reason, create_by, create_time, update_by, update_time, remark from space_reservation_item
    </sql>

    <select id="selectSpaceReservationItemById" parameterType="Long" resultMap="SpaceReservationItemResult">
        <include refid="selectSpaceReservationItemVo"/>
        where item_id = #{itemId}
    </select>

    <select id="selectSpaceReservationItemList" parameterType="SpaceReservationItem" resultMap="SpaceReservationItemResult">
        <include refid="selectSpaceReservationItemVo"/>
        <where>
            <if test="itemId != null"> and item_id = #{itemId}</if>
            <if test="reservationId != null"> and reservation_id = #{reservationId}</if>
            <if test="roomId != null"> and room_id = #{roomId}</if>
            <if test="roomCode != null and roomCode != ''"> and room_code like concat('%', #{roomCode}, '%')</if>
            <if test="roomName != null and roomName != ''"> and room_name like concat('%', #{roomName}, '%')</if>
            <if test="bookingDate != null and bookingDate != ''"> and booking_date like concat('%', #{bookingDate}, '%')</if>
            <if test="weekday != null and weekday != ''"> and weekday like concat('%', #{weekday}, '%')</if>
            <if test="startTime != null and startTime != ''"> and start_time like concat('%', #{startTime}, '%')</if>
            <if test="endTime != null and endTime != ''"> and end_time like concat('%', #{endTime}, '%')</if>
            <if test="itemStatus != null and itemStatus != ''"> and item_status = #{itemStatus}</if>
            <if test="conflictFlag != null and conflictFlag != ''"> and conflict_flag = #{conflictFlag}</if>
            <if test="conflictReason != null and conflictReason != ''"> and conflict_reason like concat('%', #{conflictReason}, '%')</if>
            <if test="conflictItemId != null"> and conflict_item_id = #{conflictItemId}</if>
            <if test="auditTime != null"> and audit_time = #{auditTime}</if>
            <if test="auditorId != null"> and auditor_id = #{auditorId}</if>
            <if test="auditorName != null and auditorName != ''"> and auditor_name like concat('%', #{auditorName}, '%')</if>
            <if test="rejectReason != null and rejectReason != ''"> and reject_reason like concat('%', #{rejectReason}, '%')</if>
        </where>
        order by item_id desc
    </select>

    <insert id="insertSpaceReservationItem" parameterType="SpaceReservationItem" useGeneratedKeys="true" keyProperty="itemId">
        insert into space_reservation_item
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="itemId != null"> item_id,</if>
            <if test="reservationId != null"> reservation_id,</if>
            <if test="roomId != null"> room_id,</if>
            <if test="roomCode != null"> room_code,</if>
            <if test="roomName != null"> room_name,</if>
            <if test="bookingDate != null"> booking_date,</if>
            <if test="weekday != null"> weekday,</if>
            <if test="startTime != null"> start_time,</if>
            <if test="endTime != null"> end_time,</if>
            <if test="itemStatus != null"> item_status,</if>
            <if test="conflictFlag != null"> conflict_flag,</if>
            <if test="conflictReason != null"> conflict_reason,</if>
            <if test="conflictItemId != null"> conflict_item_id,</if>
            <if test="auditTime != null"> audit_time,</if>
            <if test="auditorId != null"> auditor_id,</if>
            <if test="auditorName != null"> auditor_name,</if>
            <if test="rejectReason != null"> reject_reason,</if>
            <if test="createBy != null"> create_by,</if>
            create_time,
            <if test="updateBy != null"> update_by,</if>
            <if test="remark != null"> remark,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="itemId != null"> #{itemId},</if>
            <if test="reservationId != null"> #{reservationId},</if>
            <if test="roomId != null"> #{roomId},</if>
            <if test="roomCode != null"> #{roomCode},</if>
            <if test="roomName != null"> #{roomName},</if>
            <if test="bookingDate != null"> #{bookingDate},</if>
            <if test="weekday != null"> #{weekday},</if>
            <if test="startTime != null"> #{startTime},</if>
            <if test="endTime != null"> #{endTime},</if>
            <if test="itemStatus != null"> #{itemStatus},</if>
            <if test="conflictFlag != null"> #{conflictFlag},</if>
            <if test="conflictReason != null"> #{conflictReason},</if>
            <if test="conflictItemId != null"> #{conflictItemId},</if>
            <if test="auditTime != null"> #{auditTime},</if>
            <if test="auditorId != null"> #{auditorId},</if>
            <if test="auditorName != null"> #{auditorName},</if>
            <if test="rejectReason != null"> #{rejectReason},</if>
            <if test="createBy != null"> #{createBy},</if>
            sysdate(),
            <if test="updateBy != null"> #{updateBy},</if>
            <if test="remark != null"> #{remark},</if>
        </trim>
    </insert>

    <update id="updateSpaceReservationItem" parameterType="SpaceReservationItem">
        update space_reservation_item
        <set>
            <if test="reservationId != null"> reservation_id = #{reservationId},</if>
            <if test="roomId != null"> room_id = #{roomId},</if>
            <if test="roomCode != null"> room_code = #{roomCode},</if>
            <if test="roomName != null"> room_name = #{roomName},</if>
            <if test="bookingDate != null"> booking_date = #{bookingDate},</if>
            <if test="weekday != null"> weekday = #{weekday},</if>
            <if test="startTime != null"> start_time = #{startTime},</if>
            <if test="endTime != null"> end_time = #{endTime},</if>
            <if test="itemStatus != null"> item_status = #{itemStatus},</if>
            <if test="conflictFlag != null"> conflict_flag = #{conflictFlag},</if>
            <if test="conflictReason != null"> conflict_reason = #{conflictReason},</if>
            <if test="conflictItemId != null"> conflict_item_id = #{conflictItemId},</if>
            <if test="auditTime != null"> audit_time = #{auditTime},</if>
            <if test="auditorId != null"> auditor_id = #{auditorId},</if>
            <if test="auditorName != null"> auditor_name = #{auditorName},</if>
            <if test="rejectReason != null"> reject_reason = #{rejectReason},</if>
            <if test="remark != null"> remark = #{remark},</if>
            <if test="updateBy != null"> update_by = #{updateBy},</if>
            update_time = sysdate()
        </set>
        where item_id = #{itemId}
    </update>

    <delete id="deleteSpaceReservationItemById" parameterType="Long">
        delete from space_reservation_item where item_id = #{itemId}
    </delete>

    <delete id="deleteSpaceReservationItemByIds" parameterType="Long">
        delete from space_reservation_item where item_id in
        <foreach collection="array" item="itemId" open="(" separator="," close=")">
            #{itemId}
        </foreach>
    </delete>

    <select id="selectConflictItems" parameterType="SpaceReservationItem" resultMap="SpaceReservationItemResult">
        <include refid="selectSpaceReservationItemVo"/>
        where room_id = #{roomId}
          and booking_date = #{bookingDate}
          and item_status in ('1', '2')
          and start_time &lt; #{endTime}
          and end_time &gt; #{startTime}
          <if test="itemId != null"> and item_id &lt;&gt; #{itemId}</if>
    </select>

    <update id="updateItemStatus" parameterType="SpaceReservationItem">
        update space_reservation_item
        set item_status = #{itemStatus},
            conflict_flag = #{conflictFlag},
            conflict_reason = #{conflictReason},
            audit_time = sysdate(),
            auditor_id = #{auditorId},
            auditor_name = #{auditorName},
            reject_reason = #{rejectReason},
            update_by = #{updateBy},
            update_time = sysdate()
        where item_id = #{itemId}
    </update>

</mapper>