<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.space.SpaceRoomEquipmentMapper">

    <resultMap type="SpaceRoomEquipment" id="SpaceRoomEquipmentResult">
        <id property="roomEquipmentId" column="room_equipment_id" />
        <result property="roomId" column="room_id" />
        <result property="equipmentId" column="equipment_id" />

        <result property="equipmentCode" column="equipment_code" />

        <result property="equipmentName" column="equipment_name" />
        <result property="quantity" column="quantity" />
        <result property="status" column="status" />
        <result property="createBy" column="create_by" />
        <result property="createTime" column="create_time" />
        <result property="updateBy" column="update_by" />
        <result property="updateTime" column="update_time" />
        <result property="remark" column="remark" />
    </resultMap>

    <sql id="selectSpaceRoomEquipmentVo">
        select re.room_equipment_id, re.room_id, re.equipment_id, e.equipment_code, e.equipment_name,
               re.quantity, re.status, re.create_by, re.create_time, re.update_by, re.update_time, re.remark
        from space_room_equipment re
        left join space_equipment e on e.equipment_id = re.equipment_id
    </sql>

    <select id="selectSpaceRoomEquipmentById" parameterType="Long" resultMap="SpaceRoomEquipmentResult">
        <include refid="selectSpaceRoomEquipmentVo"/>
        where re.room_equipment_id = #{roomEquipmentId}
    </select>

    <select id="selectSpaceRoomEquipmentList" parameterType="SpaceRoomEquipment" resultMap="SpaceRoomEquipmentResult">
        <include refid="selectSpaceRoomEquipmentVo"/>
        <where>
            <if test="roomEquipmentId != null"> and re.room_equipment_id = #{roomEquipmentId}</if>
            <if test="roomId != null"> and re.room_id = #{roomId}</if>
            <if test="equipmentId != null"> and re.equipment_id = #{equipmentId}</if>
            <if test="quantity != null"> and re.quantity = #{quantity}</if>
            <if test="status != null and status != ''"> and re.status = #{status}</if>
        </where>
        order by re.room_equipment_id desc
    </select>

    <insert id="insertSpaceRoomEquipment" parameterType="SpaceRoomEquipment" useGeneratedKeys="true" keyProperty="roomEquipmentId">
        insert into space_room_equipment
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="roomEquipmentId != null"> room_equipment_id,</if>
            <if test="roomId != null"> room_id,</if>
            <if test="equipmentId != null"> equipment_id,</if>
            <if test="quantity != null"> quantity,</if>
            <if test="status != null"> status,</if>
            <if test="createBy != null"> create_by,</if>
            create_time,
            <if test="updateBy != null"> update_by,</if>
            <if test="remark != null"> remark,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="roomEquipmentId != null"> #{roomEquipmentId},</if>
            <if test="roomId != null"> #{roomId},</if>
            <if test="equipmentId != null"> #{equipmentId},</if>
            <if test="quantity != null"> #{quantity},</if>
            <if test="status != null"> #{status},</if>
            <if test="createBy != null"> #{createBy},</if>
            sysdate(),
            <if test="updateBy != null"> #{updateBy},</if>
            <if test="remark != null"> #{remark},</if>
        </trim>
    </insert>

    <insert id="batchInsertSpaceRoomEquipment">

        insert into space_room_equipment(room_id, equipment_id, quantity, status, create_by, create_time, remark)

        values

        <foreach collection="list" item="item" separator=",">

            (#{item.roomId}, #{item.equipmentId}, #{item.quantity}, #{item.status}, #{item.createBy}, sysdate(), #{item.remark})

        </foreach>

    </insert>



    <update id="updateSpaceRoomEquipment" parameterType="SpaceRoomEquipment">
        update space_room_equipment
        <set>
            <if test="roomId != null"> room_id = #{roomId},</if>
            <if test="equipmentId != null"> equipment_id = #{equipmentId},</if>
            <if test="quantity != null"> quantity = #{quantity},</if>
            <if test="status != null"> status = #{status},</if>
            <if test="remark != null"> remark = #{remark},</if>
            <if test="updateBy != null"> update_by = #{updateBy},</if>
            update_time = sysdate()
        </set>
        where room_equipment_id = #{roomEquipmentId}
    </update>

    <delete id="deleteSpaceRoomEquipmentById" parameterType="Long">
        delete from space_room_equipment where room_equipment_id = #{roomEquipmentId}
    </delete>

    <delete id="deleteSpaceRoomEquipmentByIds" parameterType="Long">
        delete from space_room_equipment where room_equipment_id in
        <foreach collection="array" item="roomEquipmentId" open="(" separator="," close=")">
            #{roomEquipmentId}
        </foreach>
    </delete>

    <delete id="deleteSpaceRoomEquipmentByRoomId" parameterType="Long">

        delete from space_room_equipment where room_id = #{roomId}

    </delete>



    <delete id="deleteSpaceRoomEquipmentByRoomIds" parameterType="Long">

        delete from space_room_equipment where room_id in

        <foreach collection="array" item="roomId" open="(" separator="," close=")">

            #{roomId}

        </foreach>

    </delete>



</mapper>
